
html{
    font-size: 100px;
}
html{
    width: 100%;
    background: #ffffff;
    overflow: auto;
}
/*main*/
.main{
    margin: 0 auto;
    max-width: 640px;

}
a{
    display: block;
    color: #555;
}
/*header*/
.header{
    position: relative;
    top:0;
    left: 0;
    height: 1.54rem;
}

/*.logo*/
.header .logo{
    float: left;
    margin-left: .65rem;
    margin-top: .28rem;
    width: .97rem;
    height: .97rem;
}
.header .logo img{
    width: 100%;
    height: 100%;
}
.header .logo_title{
    position: absolute;
    top:.35rem;
    left: 2.06rem;
    color: #986536;

}

/*.header title*/
.header .logo_title h2{
    letter-spacing: .12rem;
    font-size: .40rem;
}
.header .logo_title h4{
    position: absolute;
    left:.52rem;
    font-size: .25rem;
}
.header .logo_title h4:before,.header .logo_title h4:after{
    content: '';
    position: absolute;
    width: .52rem;
    height: .05rem;
    top:.15rem;
}
.header .logo_title h4:before{
    left: -.53rem;
    background: url("../img/hr-left.png") no-repeat 0 0;

}
.header .logo_title h4:after{
    right: -.53rem;
    background: url("../img/hr-right.png") no-repeat 0 0;
}

/*.banner*/
section.banner{
    width: 100%;
    height: 3.41rem;
}

section.banner img{
    width: 100%;
    height: 100%;
}

/*.big_title*/
section.big_title{
    padding: .15rem .21rem;
}

section span.middle{
    display: block;
    line-height: .60rem;
    text-align: center;
    background: #3399ff;
    font-size: .3rem;
    color: #FFFFFF;
}

/*nav*/
.nav{
    padding: .03rem .39rem ;
    overflow: hidden;
}
.nav ul{
    position: relative;
    left: 50%;
    width: 5.54rem;
    margin-left: -2.77rem;
}
.nav ul li{
    float: left;
    margin: .1rem .037rem 0 .037rem;
    width: 32%;
    color: #fc0e04;
}
.nav ul li img{
    display: block;
    margin: 0 auto;
    width:1.6rem;
    height: .9rem;
    border: .02rem solid #c6c8c7;
    padding: .04rem;
}
.nav ul li h3{
    text-align: center;
    padding: .1rem;
}

/*ask*/
section.ask{
    position: relative;
    left:50% ;
    width: 4.65rem;
    margin-left: -2.325rem;
}
section.ask span.ask_title{
    display: block;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: .3rem;
    font-weight: 900;
    color: #6699ff;
    margin-left: -.125rem;
}
section.ask span.bottom_hr{
    display: block;
    position: absolute;
    top:.575rem;
    width: 4.5rem;
    text-align: center;
    border-bottom: 3px solid #94b6ff;
}
section.ask img{
    position: absolute;
    top:.46rem;
    right:-.15rem;
    width: .24rem;
    height: .27rem;
}

/*phone*/
section.phone{
    position: relative;
    left: 50%;
    margin-left: -2.575rem;
    width: 5.15rem;
    height: .44rem;
    /*border: 1px solid red;*/
    margin-top: .16rem;
    margin-bottom: .16rem;
}
section.phone img{
    position: absolute;
    left: 0;
    width: .49rem;
    height: .44rem;
}
section.phone ul{
    position: absolute;
    left: .54rem;
}
section.phone .phone_docing{
    position: absolute;
    top:0.016rem;
    left: .55rem;

}
section.phone span{
    display: block;
    width: .77rem;
    height: .37rem;
}
section.phone span:nth-child(1){
    margin-bottom: .04rem;
    font-size: .16rem;
    font-weight: 500;
}
section.phone span:nth-child(2){
    position: absolute;
    top:.215rem;
    font-size: .12rem;
}
section.phone p{
    position: absolute;
    top:.015rem;
    left:1.35rem;
    font-size: .31rem;
    color: #fe756f;
    font-weight: 800;
}
section.phone a{
    position: absolute;
    top:0.03rem;
    right: 0;
    width: 1.11rem;
    height: .37rem;
    text-align: center;
    font-size: .23rem;
    background: #ff7670;
    color: #ffffff;
    border-radius: 0.05rem;
}
section.phone .hr{
    display: block;
    position: absolute;
    top:.6rem;
    width: 5.15rem;
    height: .01rem;
    border: 1px dashed #bbbbbb;
    background: #dbdbdb;
}

/*big_title1*/
section.big_title1{
    position: relative;
    top:.4rem;
    left: 50%;
    margin-left: -2.6rem;
    width: 5.2rem;
    font-size: .33rem;
    text-align: center;
    color: #209f70;
    font-weight: 900;
}

/*nav_title*/
section.nav_title{
    position: relative;
    top:.52rem;
    bottom: 0;
    width: 100%;
    height: 2.39rem;
}
section.nav_title img{
    display: block;
    width: 100%;
    height: 100%;
}
section.nav_title ul{
    position: absolute;
    top:2.45rem;
    left: 50%;
    margin-left: -2.96rem;
    width: 592rem;
}
section.nav_title ul li{
    float: left;
    width: 1.28rem;
    font-size: .16rem;
    color: #595959;
    margin: 0 .12rem .12rem .12rem ;
    line-height: .25rem;
}

/*big_title2*/
section.big_title2{
    position: relative;
    top:1.57rem;
    left: 50%;
    background: #ff6803;
    width: 4.85rem;
    margin-left: -2.405rem;
    text-align: center;
    line-height: .58rem;
    font-size: .22rem;
    color: #ffffff;
    font-weight: 900;
}

/*÷ÿ∏¥ phone2*/
section.photo2{
    position: relative;
    top:.2rem;
}